/*FOR ALL PAGES*/
nav {
    top:0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 20px;
    margin-left: 0;
}
nav a, nav button{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    background-color: #333;
    border: solid 0px;
    margin-top: 2px;
}
nav a:hover {
    text-decoration: underline;
}

/*FOR PERSONALIZAR*/
#contenedorMain{
    position:absolute;
    top:50px;
}

body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: white;
}
#desplegable {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 5px; 
    border: 1px solid black;
    width: 150px; 
    height: 0;
    padding: 0px;
    margin-top: 30px;
    margin-left: 43%;
    overflow: hidden;
}

#desplegable p {
    grid-column: span 5; 
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}


.estilos {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

/*FOR FORM*/
#formulario{
    position: absolute;
    height: auto;
    width:25%;
    margin-left: calc(50%-(width/2));
}